server:
  tomcat: #tomact 服务器的配置
    relaxed-query-chars: '|,{,},[,]'  #进行get请求到时候 如何参数包含[,{,},] 认为是正常的
  port: 7245 # 端口
#数据库名：postgres，用户名s336178，密码OrlLPt0zeXnGzhEP //localhost:5432/postgres
spring:
  datasource: #数据库的配置
    username: s336178 #数据库的账号
    password: OrlLPt0zeXnGzhEP #数据库的密码
    url: jdbc:postgresql://localhost:5433/studs
    #username:    postgres #数据库的账号
    #password: postgres #数据库的密码
  #url: jdbc:postgresql://localhost:5432/postgres

  jackson: # json序列号配置
    property-naming-strategy: UPPER_CAMEL_CASE #设置大写开头的命名风格
    date-format: yyyy-MM-dd HH:mm:ss #设置标准的时间格式
    time-zone: Asia/Shanghai #时间对于的时区
  servlet:
    multipart:
      enabled: true
mybatis-plus: #操作数据库的ORM框架 mybatis
  mapper-locations: mapper/*.xml #配置对于的mapper文件位置
  global-config: #mybatis的全局配置
    db-config: #数据库的配置
      table-prefix:   #表前面是否加前缀  如果不配置为空 会导致查询的sql表前面带有特定 前缀
  configuration:
    #    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    log-impl: org.apache.ibatis.logging.nologging.NoLoggingImpl
    map-underscore-to-camel-case: false         #是否转换成大小写
  type-aliases-package: com.example.web.entity  #实体存储的包位置


